section {
  background-color: #950101;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.header {
  text-align: center;
  font-weight: 700;
  color: white;
  margin-bottom: 1.5rem;
}

.item {
  cursor: pointer; 
  opacity: 0;
  text-transform: capitalize;
  animation-fill-mode: forwards;
  color: white;
  letter-spacing: -1px;
}

.enterContainer {
  margin-top: 2rem;
  text-align: center;
  opacity: 0;
  animation-fill-mode: forwards;
}
